@tailwind base;
@tailwind components;
@tailwind utilities; 

* {
  font-family: Inter;
}

body, p, ul, h1, h2, h3, h4, h5 {
  margin: 0;
}

body {
  position: relative;
}

h2.title {
  font-weight: 800;
  font-size: 40px;
  line-height: 1;
  color: #0c0c0c;
}

a.anim-link {
  display: inline-flex;
  flex-direction: column;
  cursor: pointer;

  &.full {
    .mark {
      width: 100%;
    }

    &:hover {
      .mark {
        width: 100%;
      }
    }
  }
  .mark {
    height: 1px;
    width: calc(100% - 20px);
    margin-top: 5px;

    transition-property: width;
    transition-duration: .2s;
    transition-timing-function: ease-in-out;
  }

  .txt {
    display: flex;
    column-gap: 10px;
    align-items: center;
    transition-property: column-gap;
    transition-duration: .2s;
    transition-timing-function: ease-in-out;
  }

  &:hover {
    .mark {
      width: 0;
    }
    .txt {
      column-gap: 10px;
    }
  }
}

::-webkit-scrollbar {
  width: 4px;
  height: 0px;
  position: absolute;
  right: 0px;
  top: 0px;
  bottom: 0px;
  background: transparent; 
}

::-webkit-scrollbar-thumb {
  background-color: #494949;
}

.yform {
  .form {
    display: grid;
    grid-template-columns: 1fr;
    column-gap: 27px;
    row-gap: 10px;

    .col {
      display: flex;
      flex-direction: column;
      row-gap: 10px;
      
      .group {
        > label {
          font-size: 16px;
          font-weight: 700;
          line-height: 27px;
          color: #3f3f3f;

          > sup {
            font-weight: 700;
            color: #ee4141;
          }
        }

        .entry-box {
          display: flex;
          column-gap: 10px;
          width: 100%;

          .form-group {
            width: 100%;
            > label {
              display: inline;
            }
          }
        }

        input, select, textarea {
          outline: 0;
          border: 1px solid #cacaca;
          border-radius: 15px;
          width: 100%;
          height: 52px;
          background-color: #fff;
          padding: 0 12px;
          font-size: 16px;
          color: #777;
          margin-top: 5px;

          &::placeholder {
            color: #a0a0a0;
          }
        }

        textarea {
          padding-top: 7px;
        }

        select {
          -webkit-appearance: none;
        }
      }
    }
  }

  .submit {
    button {
      height: 46px;
      border-radius: 46px;
      background-color: #84af8c;
      color: #fff;
      font-size: 16px;
      font-weight: 600;
      line-height: 1.2;
      padding: 0 80px;
      cursor: pointer;
      border: 0;
      outline: 0;
    }
  }

  .desc {
    color: #646464;
    font-weight: 700;
    font-size: 16px;
    line-height: 22px;
    margin-top: 20px;
  }
}

.checkbox-wrapper {
  display: block;
  position: relative;
  padding-left: 35px;
  margin-bottom: 12px;
  cursor: pointer;
  font-size: 22px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;

  > input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
    height: 0;
    width: 0;

    &:checked ~ .checkmark {
      &:after {
        display: block;
      }
    }
  }

  > .checkmark {
    position: absolute;
    top: 0;
    left: 0;
    height: 25px;
    width: 25px;
    border: 1px solid #cacaca;
    border-radius: 5px;
    background-color: #fff;

    &:after {
      content: "";
      position: absolute;
      display: none;

      left: 50%;
      top: 50%;
      width: 8px;
      height: 16px;

      border: solid #84af8c;
      border-width: 0 3px 3px 0;
      -webkit-transform: rotate(45deg);
      -ms-transform: rotate(45deg);
      transform: translate(-50%, -50%) rotate(45deg);
    }
  }
}

